@media (orientation: landscape) {
  .mainGrid {
    max-width: 100vw;
    padding-left: 3px;
    padding-right: 3px;
    grid-template-areas:
    "intro intro self"
    "extra extra extra";
    grid-template-rows: min-content min-content;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: .5rem;
    row-gap: .5rem;
  }
  
  #extracontent {
    max-width: 100%;
    grid-template-areas:
    "interact";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    column-gap: .5rem;
    row-gap: .5rem;
  }
  
  #buttons {
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  max-height: 20rem;
  overflow: scroll;
  }

}
 


@media (orientation: portrait) {
  .mainGrid {
    max-width: 100vw;
    padding: .5rem;
    grid-template-areas:
    "self intro intro"
    "extra extra extra";
    grid-template-rows: min-content min-content;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: .5rem;
    row-gap: .5rem;
  }
  
  #extracontent {
    max-width: 100%;
    grid-template-areas:
    "interact interact"
    "status bookmark";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: .5rem;
    row-gap: .25rem;
  }
  
  #buttons {
    max-height: 20rem;
    overflow: scroll;
  }

  #tallImage {
    max-width: 80%;
    margin: auto;
  }
}

@font-face {
  font-family: "Almendra";
  font-style: normal;
  font-weight: normal;
  src:
  url("https://file.garden/Z9NesCn881IguicE/Almendra-Regular.otf") format("opentype");
}

h3 {
  font-family: "Ava", sans-serif;
}

.mainGrid { 
  box-sizing: border-box;
  display: grid;
  width: 100%;
  max-width: 100vw;
  background-color: transparent;
}

#selfContainer { 
  box-sizing: border-box;
  color: #485158;
  grid-area: self;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#selfText {
  box-sizing: border-box;
  margin: 0;
  color: #7BBCED;
  font-family:"Almendra", serif;
  font-size: .75rem;
}

#buttons {
  box-sizing: border-box;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#info {
  box-sizing: border-box;
  text-align: center;
}

#introContainer { 
  box-sizing: border-box;
  color: #485158;
  grid-area: intro;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: scroll;
}

.introSection {
  box-sizing: border-box;
  overflow: auto;
  max-height: 7em;
}

#statusContainer { 
  box-sizing: border-box;
  color: #485158;
  grid-area: status;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#extracontent {
  box-sizing: border-box;
  grid-area: extra;
  display: grid;
  max-width: 100%;
}

#interactionContainer { 
  box-sizing: border-box;
  color: #485158;
  grid-area: interact;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#bookmarksContainer {
  box-sizing: border-box;
  grid-area: bookmark;
  align-items: center;
  text-align: center;
}

#mood {
  box-sizing: border-box;
  margin: 0;
}

#statuscafe {
  box-sizing: border-box;
  max-width: 100%;
  margin: 20px;
  background-color: #C6D0D6;
  border: 1px solid #7E8D96;
}

#statuscafe-username {
  margin-bottom: .5em;
}

#statuscafe-content {
  margin: 0 1em 0.5em 1em;
}

#linkSection {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
}

#footerContainer {
  box-sizing: border-box;
  max-width: 90vw;
  width: 90vw;
}