@media (orientation: landscape) {
  .mainContainer {
    display: grid;
    grid-template:;
  }
  
  #profileImage {
    width: 5em;
  }
  
  #globe {
    max-width: calc(35% - 1rem);
    min-width: calc(35% - 1rem);
    margin: .5rem;
    float: left;
  }

}
 


@media (orientation: portrait) {
  .mainContainer {
    display: grid;
    grid-template:
    "nav banner banner"
    "nav welcome welcome"
    "nav history self"
    "nav chat self";
  }
  
  #profileImage {
    width: 75%;
  }
  
  #globe {
    max-width: calc(35% - 1rem);
    min-width: calc(35% - 1rem);
    margin: .5rem;
    float: left;
  }
  
}

p {
  font-family: "F1.8", sans-serif;
  font-size: medium;
  overflow: auto;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.mainContainer { 
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  background-color: transparent;
}



#personalContainer { 
  box-sizing: border-box;
  text-align: center;
  grid-area: self;
}

#bannerContainer {
  box-sizing: border-box;
  text-align: center;
  grid-area: banner;
}

#profileImage { 
  aspect-ratio: 1/1;
  box-sizing: border-box;
}

#navigationContainer { 
  box-sizing: border-box;
  text-align: center;
  grid-area: navi;
}

#navigationContainer details {
  text-align: left;
  font-family: "Tecnica 55", monospace;
}
  
#hostContainer {
  box-sizing: border-box;
  align-content: center;
  grid-area: host;
}

#hostContainer * {
  margin: auto;
  text-align: center;
}

#githubImage {
  box-sizing: border-box;
  aspect-ratio: 1/1;
  width: 48px;
  display: block;
}
  
#welcomeContainer {
  box-sizing: border-box;
  text-align: center;
  grid-area: welcome;
}

#welcomeContainer p {
  margin-top: .75em;
  margin-bottom: .75em;
}

#chatContainer {
  box-sizing: border-box;
  position: relative;
  grid-area: chat;
}

#cbox {
  box-sizing: border-box;
  width: calc(100% - 36px);
  height: calc(100% - 36px - 1em);
  border: 0px;
  margin: 0px;
  position: absolute;
  top: calc(18px + 1em);
  left: 18px;
}

#historyContainer {
  box-sizing: border-box;
  grid-area: history;
}

.siteHistorySection {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
}

.siteHistoryEntry {
  box-sizing: border-box;
  max-width: 100%;
}

#friendsContainer {
  box-sizing: border-box;
  grid-area: friends;
}

#friendsSection {
  box-sizing: border-box;
}

#bio {
  margin: 0;
}

#stampsContainer {
  box-sizing: border-box;
  padding: 15px;
}

#stampsContainer marquee {
  box-sizing: border-box;
  margin: 0;
  padding: 1px;
  width: 100%;
  height: 101px;
}

#stampsSection {
  display: flex;
  flex-flow: row nowrap;
  column-gap: .5rem;
}

#globe {
  box-sizing: border-box;
  aspect-ratio: auto;
  height: auto;
  display: block;
}

#picContainer {
  box-sizing: border-box;
}

#guestContainer {
  box-sizing: border-box;
}

#welcomeImage {
  box-sizing: border-box;
}