html { 
  background-color: #89CFF0;
  color: #485158;
  font-size: 1em;
  font-family: "F1.8", monospace;
}

body { 
  font-size: 1em;
  font-family: "F1.8", monospace;
  margin: 0;
}

h2 {
  font-family: "Syntha Nova", sans-serif;
  margin: 0;
  font-size: 1.1rem;
}

h3 {
  font-family: "Syntha Nova", sans-serif;
  margin: 0;
  font-size: .9rem;
}


.cloudContainer
{ box-sizing: border-box;
  border-image-slice: 18 fill;
  border-image-width: 15px;
  border-image-repeat: round;
  border-image-source: url("https://files.strawcdn.com/straw/KPmeCZfeBWcbnjBEXDSv.png");
  border-width: 8px;
  padding: 7px;
}