.mainContainer {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    background-color: rgb(21, 21, 22);
    color: gainsboro;
    border: 0px;
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content min-content min-content 1fr;
    grid-template-areas: "banner banner banner" "nav welcome welcome" "personal welcome welcome" "stamps stamps stamps" "chat chat history";
}

#profileImage {
    width: 75%;
}

#bannerContainer {
    box-sizing: border-box;
    grid-area: banner;
    min-height: 4rem;
    border: dashed gainsboro 1px;
}

#navigationContainer {
    grid-area: nav;
    box-sizing: border-box;
    max-height: fit-content;
    text-align: center;
    overflow: auto;
    border-bottom: dashed gainsboro 1px;
}

#welcomeContainer {
    grid-area: welcome;
    box-sizing: border-box;
    text-align: center;
    overflow: auto;
    border-bottom: dashed gainsboro 1px;
    max-height: 100%;
}

#personalContainer {
    grid-area: personal;
    box-sizing: border-box;
    text-align: center;
    border-bottom: dashed gainsboro 1px;
}

#globe {
    margin: .5rem;
}

#chatContainer {
    grid-area: chat;
    min-height: 15rem;
    max-height: 15rem;
    box-sizing: border-box;
    position: relative;
    border-bottom: dashed gainsboro 1px;
}

#historyContainer {
    min-height: 15rem;
    max-height: 15rem;
    border-bottom: dashed gainsboro 1px;
}

#stampsContainer {
    grid-area: stamps;
}

#picContainer {
    min-height: 10em;
    max-height: 10em;
}

#hostContainer {
    box-sizing: border-box;
    align-content: center;
    max-height: 6em;
    min-height: 6em;
    color: gainsboro;
}

p {
    font-family: "F1.8", sans-serif;
    font-size: medium;
    overflow: auto;
}

h2 {
    text-align: center;
    color: rgb(21, 21, 22);
    background-color: gainsboro;
    background-image: url("https://files.strawcdn.com/straw/gFvPTUBVEEMHGZHkJiJm.png");
    background-size: contain;
    background-position: 0%;
    background-repeat: no-repeat;
    margin: 0;
}

h3 {
    text-align: center;
    color: rgb(21, 21, 22);
    background-color: gainsboro;
    background-image: url("https://files.strawcdn.com/straw/gFvPTUBVEEMHGZHkJiJm.png");
    background-size: contain;
    background-position: 0%;
    background-repeat: no-repeat;
    margin: 0;
}

#profileImage {
    aspect-ratio: 1/1;
    box-sizing: border-box;
}

#navigationContainer details {
    text-align: left;
    font-family: "Tecnica 55", monospace;
}

#hostContainer * {
    margin: auto;
    text-align: center;
}

#githubImage {
    box-sizing: border-box;
    aspect-ratio: 1/1;
    width: 48px;
    display: block;
}

#welcomeContainer p {
    margin-top: .75em;
    margin-bottom: .75em;
}

#cbox {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
    position: absolute;
    top: 1rem;
}

.siteHistorySection {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    overflow: auto;
}

.siteHistoryEntry {
    box-sizing: border-box;
    max-width: 100%;
}

#bio {
    margin: 0;
}

#stampsContainer {
    box-sizing: border-box;
}

#stampsContainer marquee {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
}

#stampsSection {
    display: flex;
    flex-flow: row nowrap;
    column-gap: .5rem;
}

#globe {
    box-sizing: border-box;
    aspect-ratio: auto;
    height: auto;
    display: block;
}

#picContainer {
    box-sizing: border-box;
}

#guestContainer {
    box-sizing: border-box;
}

#welcomeImage {
    box-sizing: border-box;
}