html {
    background-color: rgb(21, 21, 22);
    font-size: 1em;
    font-family: "F1.8", monospace;
}

body {
    font-size: 1em;
    background-color: transparent;
    font-family: "F1.8", monospace;
    margin: 0;
}

h2 {
    font-family: "Syntha Nova", sans-serif;
    margin: 0;
    font-size: 1.1rem;
}

h3 {
    font-family: "Syntha Nova", sans-serif;
    margin: 0;
    font-size: .9rem;
}

.baseContainer {
    box-sizing: border-box;
}

.buttonStyle {
    box-sizing: border-box;
    width: 88px;
    height: 31px;
}

.stampStyle {
    box-sizing: border-box;
    width: 99px;
    height: 56px;
}